<div class="footerpart">
    <div class="container">
        <footer>
            <ul class="footer-list float-left">
                <li>
                    <a href="{{ site.baseurl }}/">Записи</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/article_notes_index.html">Конспекты</a>
                </li>
                <!--
                <li>
                    <a href="{{ site.baseurl }}/links">Ссылки</a>
                </li>
                -->
                <li>
                    <a href="{{ site.baseurl }}/categories.html">Категории</a>
                </li>
                <li>
                    <a href="https://t.me/vbnotes">Telegram</a>
                </li>
                <li>
                    {% if site.email %}<a href="mailto:{{ site.email }}">Почта</a>{% endif %}
                </li>
            </ul>
            <ul class="footer-list float-right">
                <li>&copy; 2017-2020 {{ site.author }}</li>
            </ul>
        </footer>
    </div>
</div>
