<div class="footerpart">
    <div class="container">
        <footer>
            <ul class="footer-list float-left">
                <li>
                    <a href="{{ site.baseurl }}/">Записи</a>
                </li>
                <!--<li>
                    <a href="{{ site.baseurl }}/links">Категории</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/links">Архив</a>
                </li>-->
                <li>
                    <a href="{{ site.baseurl }}/links">Ссылки</a>
                </li>
                <li>
                    {% if site.email %}<a href="mailto:{{ site.email }}">Почта</a>{% endif %}
                </li>
            </ul>
            <ul class="footer-list float-right">
                <li>&copy; 2017-2018 {{ site.author }}</li>
            </ul>
        </footer>
    </div>
</div>
