---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}января
      {% when '2' %}февраля
      {% when '3' %}марта
      {% when '4' %}апреля
      {% when '5' %}мая
      {% when '6' %}июня
      {% when '7' %}июля
      {% when '8' %}августа
      {% when '9' %}сентября
      {% when '10' %}октября
      {% when '11' %}ноября
      {% when '12' %}декабря
    {% endcase %}
    {{ page.date | date: "%Y" }}    
  </div>

</article>
